/*
* base16-{{scheme-slug}}-theme.h
*
* Base16: (https://github.com/chriskempson/base16)
*
* Authors:
*
* Scheme: {{scheme-author}}
* Template: Honza Pokorny <me@honza.ca>
*
*/


static const char *colorname[] = {
  "#{{base00-hex}}", /* base00 */
  "#{{base08-hex}}", /* base08 */
  "#{{base0B-hex}}", /* base0B */
  "#{{base0A-hex}}", /* base0A */
  "#{{base0D-hex}}", /* base0D */
  "#{{base0E-hex}}", /* base0E */
  "#{{base0C-hex}}", /* base0C */
  "#{{base05-hex}}", /* base05 */
  "#{{base03-hex}}", /* base03 */
  "#{{base09-hex}}", /* base09 */
  "#{{base01-hex}}", /* base01 */
  "#{{base02-hex}}", /* base02 */
  "#{{base04-hex}}", /* base04 */
  "#{{base06-hex}}", /* base06 */
  "#{{base0F-hex}}", /* base0F */
  "#{{base07-hex}}", /* base07 */
};

unsigned int defaultfg = 7;
unsigned int defaultbg = 0;
static unsigned int defaultcs = 13;
static unsigned int defaultrcs = 0;
